.coverage
*.egg-info
*.log
*.mo
*.py?
*.swp
# dirs

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

buildout-cache/
htmlcov/
include/
local/
node_modules/
dist/*
test.plone_addon/
# files
.mr.developer.cfg
lib64
log.html
output.xml
pip-selfcheck.json
report.html
.vscode/
.tox/
reports/
# excludes
!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml
!src/z3cform
